* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    width: 100%;
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
  }

  nav{
    width: 100%;

  }

  .top{
    margin-top: 3%;

  }

.box{
    border: 3px solid black;
}

section{
    padding: 0!important;
}