* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden; 
}

body {
    width: 100%;
    min-height: 100%;
    line-height: 1.6; 
    font-family: 'Arial', sans-serif;
}

.btn-info{
    color: white;
    border: 1px solid white
}

.margin{
    margin-left: 20%;
}

.navbar {
    width: 100%;
}

.bottom{
    margin-bottom: 5%;
}

.top {
    margin-top: 3%;

}

.box {
    border: 3px solid black;
    line-height: 1.5;
}

section {
    padding: 0 !important;
}
